//- Utility
include utils/_variables

-
    pageTitle = 'main'
    main = true

doctype html
html
    include layout/_head

    body
        include layout/_header

        main#root

        include layout/_footer