html {
  min-height: 100%;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  color: $grayBase;
  font-family: $fontFamilyBase;
  width: 100%;
}

header {
  text-align: center;
}

main {
  flex: 1;
}

footer {
  text-align: center;
}
