/* Legan */

@font-face {
	font-family: 'Legan';
	src: url('../../fonts/legan/regular/legan.woff2') format('woff2'),
	url('../../fonts/legan/regular/legan.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Corsica LX */

@font-face {
	font-family: 'Corsica LX Book';
	src: url('../../fonts/corsicalx/book/corsicalx.woff2') format('woff2'),
	url('../../fonts/corsicalx/book/corsicalx.woff') format('woff');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Corsica LX';
	src: url('../../fonts/corsicalx/regular/corsicalx.woff2') format('woff2'),
	url('../../fonts/corsicalx/regular/corsicalx.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

